*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.navbar-custom {
    background-color: rgb(233,20,109) ;
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
/* Main section */
.main{
    background: url(/image/copy.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233,20,109);
    width: 40%
}
.main .bt1{
   height:55px ;
   width: 138px;
   background-color: rgb(233,20,109) ;
   color: white;
   outline: none;
   border: none;
   font-weight: bold;
   border-radius: 5px;
}
.main .bt1:hover{
    background-color: rgb(192, 14, 88) ;
    transition: 0.5s;
    
}
.main .bt2{
    height:55px ;
    width: 138px;
    background-color: transparent ;
    color: rgb(233,20,109);
    outline: none;
    border: 1px solid rgb(233,20,109);
    font-weight: bold;
    border-radius: 5px;
 }
 .main .bt2:hover{
    background-color: rgb(192, 14, 88) ;
    transition: 0.5s;
    color: white;
}

.ck-editor__editable {
  min-height: 200px;
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: rgb(228,220,220);
    color:black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;
  position: relative;
    
    
}


.circle:hover{
    background-color: black;
    transition: .4s;
    color: white;
}

.contact .btn3{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
}
.btn3:hover{
    background: white;
    color: black;
    border: 1px solid black;
    transition: .4s;
}
footer{
    background-color: black;
    color: lightgray;
}
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 16px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
    
